html,body{
    width: 100%;height: 100%;
    padding: 0;margin: 0;
}
ul,li,a,p,h1,h2,h3,h4,h5,h6{
    padding: 0;margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    overflow: hidden;
}

#fullpage{
    width: 100%;height: 100%;
    transition:margin-top 1s ease;
}
section{
    width: 100%;height: 100%;
}
section:nth-child(1){
    position: relative;
    background: url(../img/1.jpg) no-repeat;
}
section:nth-child(2){
    position: relative;
    background: url(../img/2.jpg) no-repeat;
}
section:nth-child(3){
    position: relative;
    background: url(../img/3.jpg) no-repeat;
}
section:nth-child(4){
    position: relative;
    background: url(../img/4.jpg) no-repeat;
}
.yun{
    width: 200%;height: 80%;
    position: absolute;top:0;left: 0;
}
.yun1{
    width: 50%;height: 100%;
    float: left;
    background: url(../img/cloud_1_1d4924b.png) no-repeat;
    animation: moveclouds 20s linear infinite;
}
.yun2{
    width: 50%;height: 100%;
    float: left;
    background: url(../img/cloud_1_1d4924b.png) no-repeat;
    animation: moveclouds 20s linear infinite;
}
@keyframes moveclouds {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-1349px,0);
    }
}
.bdyq1{
    width: 100%;height: 80%;
    position: absolute;top:0;left: 0;
}
.bdz{
    width: 40%;height: 40%;
    background: url(../img/launch_deea86c.png) no-repeat;
    position: absolute;top:23%;left: 14%;
}
.fj{
    width:10%;height: 15%;
    position: absolute;top:20%;left: 35%;
    background: url(../img/flight_ade8ee2.png) no-repeat;
    animation: fj 2s linear infinite;
}
@keyframes fj {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,-15px);
    }
    100%{
        transform: translate(0,0);
    }
}
.bdyq2{
    width: 100%;height: 20%;
    background: url(../img/2.jpg);
    position: absolute;top:80%;
}
.ship{
    width: 20%;height: 180%;
    position: absolute;top:-150%;left: 23%;
    background: url(../img/ship_1ad6734.png) no-repeat;
    transform: translate(-30px,0);
    -webkit-animation: ship 2s ease forwards;
    animation: ship 2s ease forwards;
}
@keyframes ship {
    0%{
        transform: translate(-30px,0);
    }
    100%{
        transform: translate(0,0);
    }
}
.hill1{
    width: 20%;height: 180%;
    position: absolute;top:-40%;left: 0;
    background: url(../img/hill_1_0d79217.png) no-repeat;
}
.hill2{
    width: 5%;height: 100%;
    position: absolute;top:-10%;right: 33%;
    background: url(../img/hill_2_540422f.png) no-repeat;
}
.hill3{
    width: 20%;height: 180%;
    position: absolute;top:-36%;right: 3%;
    background: url(../img/hill_3_ace39fb.png) no-repeat;
}
.bottom{
    width: 30px;
    height: 26px;
    background: red;
    background: url(../img/arrow_aad9b25.png) no-repeat;
    position: absolute;
    left: 50%;top:50%;
    animation:bottom 1s linear infinite;
}
@keyframes bottom {
    0%{
        transform: translate(0,0);
        opacity: 1;
    }
    50%{
        transform: translate(0,10px);
        opacity:0.6;
    }
    100%{
        transform: translate(0,0);
        opaciyt:1;
    }
}
.btn{
    width: 5px;height: 50px;
    position: fixed;top:40%;right:2%;
}
.btn li{
    width: 8px;height: 8px;
    border:1px solid #353d40;
    margin-top: 15px;
    border-radius: 50%;
}
.active{
    background: #414141;
}
header{
    width: 100%;height:60px ;
    background: #168db8;
    position: fixed;top:0;left: 0;
    z-index: 99;
}

.header{
    width: 100%;height: 100%;
    margin:0 auto;
}

.header a{
    float: left;color: #fff;
    font-family: "微软雅黑";
    text-decoration: none;
}

.logo{
    width: 120px;height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    background: url(../img/logo.png) no-repeat 0 0;
}





.login{
    width: 340px;height: 300px;
    border-radius: 5px;
    position: absolute;right: 12%;top:20%;
    background: #4ebffc;
}
#uc-login{
    width: 340px;height: 291px;
}
.login-info{
    width: 340px;height:179px;
    margin-top:26px;
    /*border:1px solid #000;*/
}
.account{
    width: 299px;height:40px;
    margin-bottom: 20px;
    background: #fff;
    margin-left: 20px;
}
.account span{
    display: inline-block;
    background: url('../img/icons.png') no-repeat;
    background-position: -124px -13px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
    float: left;
}
.password{
    width: 299px;height:40px;
    margin-bottom: 20px;
    background: #fff;
    margin-left: 20px;
}
.password span{
    display: inline-block;
    background: url('../img/icons.png') no-repeat;
    background-position: -140px -13px;
    width: 14px;
    height: 14px;
    margin: 12px 3px 0 10px;
    float: left;
}
.token{
    width: 299px;height:40px;
    margin-bottom: 20px;
    /*background: #fff;*/
    margin-left: 20px;
}
.token input{
    width: 122px;height: 22px;
    float: left;
}
.token img{
    margin-left: 10px;
    width: 100px;height: 40px;
    float: left;
}
.token a{
    margin: 12px 0 0 10px;
    font-size: 12px;
    color:#fff;
    float: left;
}
input{
    border: 0;
    display: inline-block;
    outline: none;
    float: left;
    padding: 9px;
    height: 20px;width: 248px;
    box-shadow: 0;
    font-family: "微软雅黑";
}
.login-action{
    width: 299px;height: 40px;
    margin-left: 20px;
}
.login-action input{
    display: block;
    border: 0;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    width: 299px;height: 40px;
    font-size: 20px;
    float: left;
}
.other{
    width: 300px;height:19px;
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.other a{
    color:#fff;
    font-family: "微软雅黑";
}
.f1{
    float: left;
}
.f1 span{
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url('../img/icons.png') no-repeat -203px -75px;
    margin: 2px 4px 0 0;
    float: left;
}
.f2{
    float: right;
}

.title{
    width: 500px;height: 126px;
    position: absolute;top:35%;left:13% ;
    transition: transform .7s ease,opacity 0.7s ease;
}
.dpic{
    width: 444px;height: 427px;
    position: absolute;top:20%;right: 15%;
    transition: transform .7s ease,opacity 0.7s ease;
}

.title .lx{
    width: 66px;height: 126px;
    float: left;
    animation: lx 2s ease infinite;
}
.title .text{
    color:#fff;font-family: "微软雅黑";
    float: left;
    margin-left: 20px;
}
.title .text h4{
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 5px;
}
.title .text p{
    font-size: 19px;
    line-height: 32px;
    opacity: 0.8;
    letter-spacing: 1px;
}


.lx1{
    background: url("../img/h_lingxian_221f2d8.png") no-repeat;
}
.dpic1{
    background: url("../img/brain_36a156f.png") no-repeat;
}
.lx2{
    background: url("../img/h_quanmian_8f813d2.png") no-repeat;
}
.dpic2{
    position: absolute;top:30%;
    background: url("../img/allside_e8abd12.png") no-repeat;
}
.lx3{
    background: url("../img/h_zhuanye_256a94d.png") no-repeat;
}
.dpic3{
    width: 603px;height: 361px;
    position: absolute;top:20%;right: 20%;
    background: url("../img/stat_8934528.png") no-repeat;
}
.title3{
    height: 245px;
    background: url("../img/bubble_3b0f897.png") no-repeat;
}
.bottom3{
    width: 100%;height: 20%;
    position: absolute;bottom:0;
    background: url("../img/bg-3-head_b8a3f7f.png") no-repeat;
}
.bottom2{
    width: 100%;height: 20%;
    position: absolute;bottom:0;
}
.bottom2 .jux1{
    width: 44px;height: 44px;
    position: absolute;bottom:0;left: 15%;
    background: #35b568;
}
.bottom2 .jux2{
    width: 88px;height: 88px;
    position: absolute;bottom:0;left: 20%;
    background: #4ac179;
}
.bottom2 .jux3{
    width: 44px;height: 44px;
    position: absolute;bottom:0;left: 27%;
    background: #8ae75a;
}
.bottom2 .jux4{
    width: 44px;height: 44px;
    position: absolute;bottom:0;left: 55%;
    background: #8ae75a;
}
.bottom2 .jux5{
    width: 44px;height: 44px;
    position: absolute;bottom:0;left: 65%;
    background:#4ac179;
}
@keyframes lx {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.nextd{
    width: 30px;
    height: 26px;
    background: url(../img/arrow_aad9b25.png) no-repeat;
    position: absolute;
    left: 50%;top:90%;
    animation:bottom 1s linear infinite;
    z-index: 99;
}
.xljt{
    cursor:pointer;
}
.btn li{
    cursor:pointer;
}



/******/
.max{
    display: none;
}
.min{
    position: relative;
}
.min .menu-option{
    width: 30px;height: 40px;
    position: absolute;right: 0;
    margin-top: 10px;margin-right: 20px;
    cursor: pointer;
}

.min .menu-option .menu-option1{
    content: "";
    width: 30px;height: 2px;
    position: absolute;top:10px;left: 0;
    background: #fff;
    transition: transform .5s ease;
}
.min .menu-option .menu-option2{
    content: "";
    width: 30px;height: 2px;
    position: absolute;top:20px;left: 0;
    background: #fff;
    transition: transform .5s ease;
}

.min .scene{
    position: absolute;top:60px;left: 0;
    width:100%;height: 40px;
    perspective: 500px;
}
.min .menu{
    position: absolute;top:60px;left: 0;
    width:100%;height: 100%;
    margin-top: -50px;
    transform-style: preserve-3d;
    display: none;
}
.min .menu a{
    display: block;
    width: 100%;height: 100%;
    text-align: center;
    line-height: 60px;
    background: #000;
    opacity: 0;
    padding-bottom:20px;
    transition: all 1s ease;
}
/*.min .menu a:hover{*/
    /*color: #3bb7ff;*/
/*opacity: 0.9;*/
/*}*/
@keyframes menu {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 0.8;
        transform: rotateX(0deg);
    }
}
@keyframes menu1 {
    0%{
        opacity: 0.8;
        transform: rotateX(0deg);
    }
    100%{
        opacity: 0;
        transform: rotateX(90deg);
    }
}

@media screen and (max-width:1000px ) {
    .bdyq1{
        display: none;
    }
    .ship{
        display: none;
    }
    .login{
        position: absolute;
        top:0;bottom:0;
        left:0;right:0;
        margin: auto;
    }
    .dpic{
        display: none;
    }
    .title{
        left: 25%;
    }
}

@media screen and (min-width: 1000px) {
    .max{
        display: flex;
    }
    .min{
        display: none;
    }
    .max a:nth-of-type(2){
        margin-left: 65px;
    }
    .max a:nth-of-type(5){
        margin-left: 220px;
    }
    .max a:nth-of-type(8){
        color:#F7D749;
    }
    .header{
        width: 75%;height: 100%;
        margin:0 auto;
    }
    .max{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;             /*换行   nowrap不换行*/
        justify-content: space-between;     /*水平的排列方式 flex-start flex-end center space-between  space-around*/
        /*align-items: stretch;            !*垂直对齐方式flex-start flex-end center baseline基线 stretch拉伸*!*/
        /*align-content: flex-start;       !*多行内容垂直的排列方式 flex-start flex-end center space-between  space-around*!*/
    }
    .max .index{
        align-self: center;
        margin-top: 22px;
        margin-left: 15px;
        font-size: 14px;
    }
    .max .index:hover{
        color:#67CBFF;
    }
    .max .last{
        align-self: flex-end;
        margin-bottom: 5px;
        font-size: 12px;
    }
    .logo{
        margin-left: 0px
    }
}